body {
	color: #000000;
	background: #FFFFFF;
	font-family: sans-serif;
	margin: 1em 10% 1em 10%;
}

tt {
        color: #006633;
        font-weight: bold;
}

hr {
        margin-top: 1em;
        margin-bottom: 1em;
}

h3 {
	margin-top: 0em;
}

p.text {
        margin-top: 0;
        margin-bottom: 0;
}

p.cite {
        text-indent: -1em;
        margin-left: 1em;
        margin-top: 0;
        margin-bottom: 0;
}

pre.bibtex {
        margin-bottom: 0;
}

div.citation {
        background-color: #E0F0E8;
        border-style: dashed;
        border-width: thin;
        padding: 1ex;
}

table.text {
	border-style: solid;
	border-collapse: collapse;
	border-width: 1px;
}
table.text td {
	padding: .5em;
}

table.faq {
        background-color: #E0F0E8;
	border-style: solid;
	border-collapse: collapse;
	border-width: 0px;
}

div.faq {
        background-color: #FFFCC9;
        border-style: dashed;
        border-width: thin;
        padding: 1ex;
}
